ApplicationServer/app/src/json/* linguist-vendored
ApplicationServer/app/src/mongoose-master/* linguist-vendored
ApplicationServer/app/doc/html/* linguist-documentation
ApplicationServer/ejemploDocker/* linguist-vendored
ApplicationServer/app/src/jsoncpp.cpp linguist-vendored
