ApplicationServer/src/json/* linguist-vendored
ApplicationServer/src/jsoncpp.cpp linguist-vendored
ApplicationServer/src/mongoose-master/mongoose* linguist-vendored
ApplicationServer/doc/* linguist-documentation
